<div class="row">
  <% @tasks.each do |task| %>
    <div class="col-md-3 mt-md-5">
      <div class="card text-center" style="margin-top ;">
        <%= image_tag task.photo, class: "card-img-top" %>
        <div class="card-body">
          <h6 class="card-title"><%= task.name %></h5>
          <% if user_signed_in? %>
              
                <%= link_to 'Deshacer', not_maked_task_path(task.id), class: "btn btn-danger", method: :post %>
              
                <%= link_to 'Realizar', maked_task_path(task.id), class: "btn btn-warning", method: :post %>
              
            <% end %>
          <%= link_to 'Ver Tarea', task_path(task.id), class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
