<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to 'Tareas', root_path, class: 'navbar-brand' %>
    <ul class="navbar-nav">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to current_user.email, "#", class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Cerrar Sesión', destroy_user_session_path, method: :delete, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "#{Todo.where(user_id:current_user.id, finished: true).count} tareas listas de un total de #{@tasks.count}", '#', class: 'nav-link active' %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to 'Iniciar Sesión', new_user_session_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Registrarse', new_user_registration_path, class: 'nav-link' %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
